<section id="list-pane" class="list">
  <div class="col-md-12 text-justify content">
    {{ if not .IsHome }}
      <h2 class="title">{{ .Title }}:</h1>
    {{ end }}
  </div>

  <ul >
    {{ range .Data.Pages.ByPublishDate.Reverse }}
    <li class="list-entry">
      <p class="meta">
        {{ if not .Date.IsZero }}
          {{ .Date.Format .Site.Params.dateformat | upper }}
        {{end}}
      </p>
      <a class="list-entry-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
      <p class="excerpt">
        {{ .Description }}
      </p>
    </li>
    {{ end }}
  </ul>
</section>
